<p id="notice"><%= notice %></p>
<div>
  <%= form_tag("/friends", method: :post) do %>
    <table style="margin:0 auto;">
      <tr>
        <td><span class="h4">Add a Friend:</span></td>
        <td><%= text_field_tag "friend_email",nil, :placeholder=>'Enter friend email' %></td>
        <td><%= submit_tag :Add, class: "btn btn-success" %></td>
      </tr>
    </table>
  <% end %>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <div class="card card-default">
      <div class="card-header center">
        <span class="h4">Friends</span>
      </div>
      <div class="card-block scrollable">
        <div>
          <% @friends.each do |friend| %>
          <div class="d-inline-block">
            <div class="d-inline-block">
            <%= image_tag friend.avatar.url(:thumb),class: "rounded-circle",width:"80px",height:"80px" %>
            </div>
            <div class="d-inline-block">
              <%= link_to "#{friend.name}", "friends/#{friend.id}/show" %><br>
              <%= link_to 'Remove', "/friends/#{friend.id}/remove", method: :delete, data: { confirm: 'Are you sure?' },class: "text-danger" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-default">
        <div class="card-header center">
          <span class="h4">Friend Requests</span>
        </div>
        <div class="card-block scrollable">
          <div>
              <% @requests.each do |friend| %>
              <div class="d-inline-block">
                  <div class="d-inline-block">
                      <%= image_tag friend.avatar.url(:thumb),class: "rounded-circle",width:"80px",height:"80px" %>
                  </div>
                  <div class="d-inline-block">
                      <%= link_to "#{friend.name}", "friends/#{friend.id}/show" %><br>
                      <%= link_to 'Accept', "/friends/#{friend.id}/accept", method: :put, data: { confirm: 'Are you sure?' } ,class: "text-success"%>
                      <%= link_to 'Reject', "/friends/#{friend.id}/decline", method: :delete, data: { confirm: 'Are you sure?' },class: "text-danger" %>
                  </div>
              </div>
              <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
