<p id="notice"><%= notice %></p>

<h2>Add Group:</h2>
<%= form_for([@user.groups.build]) do |f| %>
<%= f.hidden_field :user_id, value:current_user.id %>
<table>
  <tr>
    <th> <%= f.label :name %></th>
  </tr>
  <tr>
    <td><%= f.text_field :name %></td>
    <td>  <%= f.submit %></td>
  </tr>
</table>

<% end %>


<h1>My Groups</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |groups| %>
      <tr>
        <td><%= groups.name %></td>
        <td><%= groups.user %></td>
        <td><%= link_to 'Show', groups %></td>
        <td><%= link_to 'Destroy', groups, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
