<p id="notice"><%= notice %></p>

<p>
  <strong>Group Admin:</strong>
  <%= @group.name %>
</p>
  <strong>Group Mambers:</strong> <br>
<% @membersG.each do |m| %>
<%= m.name %> <br />
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
