<p id="notice"><%= notice %></p>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card card-default">
        <div class="card-header center">
            <h4>My Latest Orders</h4>
        </div>
        <div class="card-block scrollable">
          <table class="table table-striped table-bordered">
            <tr>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= link_to "#{order.order_type} on #{order.created_at}" , order_path(@orders) %></td>
                </tr>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card card-default">
        <div class="card-header center">
          <h4>Friends Activity</h4>
        </div>
        <div class="card-block scrollable">
          <table class="table table-striped table-bordered">
            <tr>
              <% @activities.each do |activity| %>
                <tr>
                  <td> <%= link_to "#{activity.user.name}", "/friends/#{activity.user.id}/show" %><%=" created "%><%= link_to "#{activity.order_type}", activity %><%= " order from " << activity.resturant_name << ". "%></td>
                </tr>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
