<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  
      <tr>
        <td><%= current_user.name %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.password %></td>
        <td><%= image_tag current_user.avatar.url(:thumb) %><td>
      </tr>

  </tbody>
</table>

<br>
