<%= simple_form_for @order, remote: true do |f| %>
<% if @order.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %>
        prohibited this order from being saved:</h2>

    <ul>
        <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.select :order_type, [['Dinner', 'Dinner'], ['Launch', 'Launch'],
     ['break fast', 'break fast']], prompt: "choose order type " %>
</div>
<br>
<div class="field">
    <%= f.text_field :resturant_name, :placeholder => 'Enter Restaurant Name' %>
</div>

<div class="field">
    <label class="btn btn-success btn-file"> Choose Menu image
      <%= f.file_field :menu_img,style: "display: none;" %>
    </label>
</div>
<div class="field">
    <%=f.input :invited_users do%>
        <% current_user.friends.each do |f| %>
            <%= check_box_tag 'invited_users[]', f.id %>
            <%= h f.name%>
        <%end%>
    <%end%>
</div>
<div class="field">
    <%=f.input :invited_groups do%>
        <% current_user.groups.each do |g| %>
            <%= check_box_tag 'invited_groups[]', g.id %>
            <%= h g.name%>
        <%end%>
    <%end%>
</div>
<%= f.hidden_field :user_id %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<div class="actions">
    <%= f.submit class: "btn btn-primary" %>
</div>
<% end %>
