<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Order type</th>
      <th>Resturant name</th>
      <th>User</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_type %></td>
        <td><%= order.resturant_name %></td>
        <td><%= order.user %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
