<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-8 push-md-2 col-lg-8 push-lg-2">
<div class="card card-default">
<div class="card-header center">
  <h4>Orders</h4>
</div>
<div class="card-block scrollable">
  <table class="table table-striped table-bordered">
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to "#{order.order_type}", order, class: "text-primary"%> <%=" from #{order.resturant_name} on #{order.created_at}"%></td>
          <td><%= link_to 'Delete', order,class: "text-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>

<div class="center">
  <%= button_to 'New Order', new_order_path,method: :get, class: "btn btn-success" %>
</div>
