<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered">
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Menu</th>
  </tr>
  <tr>
    <td colspan="2"><%= @order.user.name %></td>
    <td><%= @order.id %></td>
    <td colspan="2"><%= image_tag @order.menu_img.url(:thumb) %></td>
  </tr>
</table>

<h2>Order details</h2>
<table class="table table-striped table-bordered">
  <% @order.order_details.each do |order_detail| %>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Item</th>
      <th>Amout</th>
      <th>Price</th>
      <th>Comment</th>
      <th colspan="3">Action</th>
    </tr>
    <tr>
      <td><%= order_detail.user.id %></td>
      <td><%= current_user.name %></td>
      <td><%= order_detail.item %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.comment %></td>
      <td><%= link_to 'Show', order_detail %></td>
      <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
      <td><%= link_to 'Destroy', order_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<h2>Add a detail:</h2>
<%= form_for([@order.order_details.build]) do |f| %>
<%= f.hidden_field :user_id, value:current_user.id %>
<%= f.hidden_field  :order_id %>
<table class="table table-striped table-bordered">
  <tr>
    <th> <%= f.label :item %></th>
    <th> <%= f.label :amount %></th>
    <th> <%= f.label :price %></th>
    <th> <%= f.label :comment %></th>
  </tr>
  <tr>
    <td><%= f.text_field :item %></td>
    <td><%= f.number_field :amount %></td>
    <td><%= f.text_field :price %></td>
    <td><%= f.text_area :comment %></td>
    <td>  <%= f.submit %></td>
  </tr>
</table>

<% end %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
