<p id="notice"><%= notice %></p>

<p>
  <strong>Order type:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>Resturant name:</strong>
  <%= @order.resturant_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>
<p>
    <strong>Menu:</strong>
  <%= image_tag @order.menu_img.url(:medium) %>
</p>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
